/*--Colors--*/
$brand-color: #E22122;
$brand-color-light: lighten($brand-color, 15%);
$brand-color-lightest: lighten($brand-color, 35%);
$brand-color-dark: darken($brand-color, 5%);
$color-white: #fff;
$color-orange: orange;

$btn-brand-color: $color-white;
$btn-brand-bg: $brand-color;
$btn-brand-border: darken($brand-color, 5%);