<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="cart-block">
      <div class="cart-count">
        0
      </div>
      <div class="cart-icon">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      </div>
      <div class="total-price">
        $0.00
      </div>
    </div>
  </div>
</div>
<hr>
<router-outlet></router-outlet>