.header {
    background-color: #00468A;
    margin-bottom: 20px;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo>img{
            height: 80px;
        }
        .email {
            color: #fff;
            font-size: 16px;
        }
    }
}
