.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  .middle {
    display: table-cell;
    vertical-align: middle;
    .inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
      .auth-form {
        background-color: #fff;
        border: 2px solid #cdd4d9;
        border-radius: 5px;
        box-shadow: 4px 4px rgba(6,41,66,.1);
        margin: 20px;
        padding: 48px 40px;
        .logo img {
          margin: 0 auto;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .outer {
    .middle {
      .inner {
        .auth-form {
          padding: 28px 20px;
        }
      }
    }
  }
}
