<form [formGroup]="signUpForm" (validSubmit)="onSignUp()">
  <h3 class="mt-0 text-brand text-center">Create Account</h3>

  <div class="form-group form-group-lg">
    <label for="first_name" class="control-label sr-only">First Name</label>
    <input type="text" class="form-control" name="first_name" id="first_name" formControlName="first_name" placeholder="First Name">
  </div>
  <div class="form-group form-group-lg">
    <label for="last_name" class="control-label sr-only">Last Name</label>
    <input type="text" class="form-control" name="last_name" id="last_name" formControlName="last_name" placeholder="Last Name">
  </div>
  <div class="form-group form-group-lg">
    <label for="gender" class="control-label sr-only">Gender</label>
    <select class="form-control" name="" id="" formControlName="gender">
      <option value="">Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div class="form-group form-group-lg">
    <label for="email" class="control-label sr-only">Email</label>
    <input type="email" class="form-control" name="email" id="email" formControlName="email" placeholder="Email">
  </div>
  <div class="form-group form-group-lg">
    <label for="corporate_id" class="control-label sr-only">Company</label>
    <select class="form-control" name="corporate_id" id="corporate_id" formControlName="corporate_id">
      <option value="">Select Company</option>
      <option *ngFor="let corporate of corporates" [ngValue]="corporate.corporate_id"> {{corporate.corporate_name}} </option>
    </select>
  </div>
  <div class="form-group form-group-lg">
    <label for="phone" class="control-label sr-only">Phone</label>
    <input type="text" class="form-control" name="phone" id="phone" formControlName="phone" placeholder="Phone">
  </div>
  <div class="form-group form-group-lg">
    <label for="password" class="control-label sr-only">Password</label>
    <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Password (min. 6 Charcters)">
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
  </div>
  <p class="text-center">
    <small>By continuing, you agree to the
      <a href="javascript:;">Terms of Service.</a>
    </small>
  </p>
  <p class="text-center mb-0">
    Already have an account?
    <a routerLink='/auth/sign-in'>Sign In</a>
  </p>
</form>
