@import '~sass/_variables.scss';

.sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100%;
  position: fixed;
  border-right: 2px solid $brand-color;
  transition: all 0.3s;
  z-index: 1;
  .sidebar-header {
      padding: 20px;
      text-align: center;
      .profile {
          .avatar {
            width: 80px;
            height: 80px;
            margin: 0px auto;
            font-size: 2.5em;
            text-align: center;
            line-height: 74px;
            border-width: 3px;
            border-style: solid;
            background-color: $color-white;
            vertical-align: middle;
            text-transform: uppercase;
            color: $brand-color-light;
            border-color: $brand-color-light;
            display: inline-block;
            overflow: hidden;
            border-radius: 50%;
            font-weight: bold;
            letter-spacing: -5px;
          }
          .name {
              margin-top: 10px;
              font-size: 1.4em;
          }
          .sign-out {
              a {
                  color: $brand-color-light;
                  &:hover, &:focus, &:active, &.focus, &.active {
                      color: $brand-color-light;
                      text-decoration: none;
                  }
              }
          }
      }
  }
  ul.main-menu {
      li{
        position: relative;
         &.active a{
            color: $color-white;
            background: $brand-color-dark;
         }
      }
      li>a{
          padding: 10px;
          font-size: 1.2em;
          color: #000;
          display: block;
          &:hover, &:focus, &:active, &.focus, &.active {
              color: $color-white;
              background: $brand-color-dark;
              text-decoration: none;
          }
      }
  }
  .sidebar-logo {
    position: absolute;
    bottom: 20px;
    padding: 20px;
    opacity: 0.6;
  }
}

@media (max-width: 768px) {
  .sidebar {
      margin-left: -200px;
  }
  .active .sidebar {
      margin-left: 0;
  }
}
