<!-- Sidebar -->
<nav class="sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <div class="profile">
      <div class="avatar">
        {{managerDetails.u_f_name | slice:0:1}} {{managerDetails.u_l_name | slice:0:1}}
      </div>
      <div class="name">
        {{managerDetails.u_f_name}} {{managerDetails.u_l_name}}
      </div>
      <div class="sign-out">
        <a href="javascript:;" (click)=signOut()>Sign Out</a>
      </div>
    </div>
  </div>

  <!-- Sidebar Links -->
  <ul class="list-unstyled main-menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink='/manager'>Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink='/manager/events'>Events</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink='/manager/orders'>Orders</a>
    </li>
  </ul>

  <div class="sidebar-logo">
    <img src="assets/images/logo.png" alt="Office Eats logo" class="img-responsive">
  </div>
</nav>
