<ul class="breadcrumb">
    <li class="active">Dashboard</li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Status</th>
            <th>Remainder</th>
            <th>Total Amount</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>raj.guru827@gmail.com</td>
            <td>Pending</td>
            <td>Sent</td>
            <td>50</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>