<form [formGroup]="formGroup" (validSubmit)="onSubmit()">
  <h2 class="mt-0 mb-20 text-brand text-center">Forgot your password?</h2>
  <div class="form-group text-center">
    We'll send you an email with
    <br> instructions to reset it.
  </div>
  <div class="form-group form-group-lg">
    <label for="email" class="control-label sr-only">Email</label>
    <input type="text" class="form-control" name="email" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>
  </div>
  <p class="text-center mb-0">
    Already have an account?
    <a routerLink='/auth/sign-in'>Sign In</a>
  </p>
</form>
