<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="auth-form" [formGroup]="formGroup" (validSubmit)="onSubmit()">
      <h2 class="mt-0 mb-0">Forgot Password?</h2>
      <hr>
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" name="email" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
              <a  routerLink='/auth/sign-up'>Sign Up</a>
          </div>
          <div class="pull-right">
              <a  routerLink='/auth/sign-in'>Click here to sign in.</a>
          </div>
          <div class="clearfix"></div>
        </div>        
      </div>
    </form>
  </div>
</div>
