<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h2 class="mt-0 mb-0">New Event</h2>
      </div>
      <div class="media-body media-middle">
        <div class="pull-right">
          <button class="btn btn-warning" type="button" (click)="goBack()">Cancel</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="formGroup">
      <div class="form-horizontal">

        <div class="form-group" [ngClass]="displayFieldCss('meetingTitle')">
          <label class="col-md-3 control-label" for="meetingTitle">Meeting Title</label>
          <div class="col-md-5">
            <input id="meetingTitle" name="meetingTitle" type="text" placeholder="Meeting Title" class="form-control" formControlName='meetingTitle'
              maxlength="50">
            <span *ngIf="formGroup.get('meetingTitle').invalid && formGroup.get('meetingTitle').touched" class="help-block">
              <div *ngIf="formGroup.get('meetingTitle').hasError('required')">Meeting Title is required</div>
              <div *ngIf="formGroup.get('meetingTitle').hasError('minlength')">Meeting Title must be at least 3 characters</div>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldCss('date')">
              <label class="col-md-6 control-label" for="date">Date</label>
              <div class="col-md-6">
                <p-calendar formControlName="date" placeholder="Date" [minDate]="minDateValue" styleClass="w-100-p" inputStyleClass="w-100-p"
                  [readonlyInput]="true"></p-calendar>
                <span *ngIf="formGroup.get('date').invalid && formGroup.get('date').touched" class="help-block">
                  <div *ngIf="formGroup.get('date').hasError('required')">Date is required</div>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldCss('time')">
              <label class="col-md-3 control-label" for="time">Time</label>
              <div class="col-md-6">
                <p-calendar formControlName="time" placeholder="Time" [timeOnly]="true" hourFormat="12" styleClass="w-100-p" inputStyleClass="w-100-p"
                  [readonlyInput]="true"></p-calendar>
                <span *ngIf="formGroup.get('time').invalid && formGroup.get('time').touched" class="help-block">
                  <div *ngIf="formGroup.get('time').hasError('required')">Time is required</div>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('venue')">
          <label class="col-md-3 control-label" for="venue">Venue</label>
          <div class="col-md-5">
            <input id="venue" name="venue" type="text" placeholder="Venue" class="form-control" formControlName='venue' maxlength="50">
            <span *ngIf="formGroup.get('venue').invalid && formGroup.get('venue').touched" class="help-block">
              <div *ngIf="formGroup.get('venue').hasError('required')">Venue is required</div>
              <div *ngIf="formGroup.get('venue').hasError('minlength')">Venue must be at least 3 characters</div>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldCss('budget')">
              <label class="col-md-6 control-label" for="budget">Budget</label>
              <div class="col-md-6">
                <input id="budget" name="budget" type="text" placeholder="Budget" class="form-control" formControlName='budget'>
                <span *ngIf="formGroup.get('budget').invalid && formGroup.get('budget').touched" class="help-block">
                  <div *ngIf="formGroup.get('budget').hasError('required')">Budget is required</div>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group pt-7">
              <label class="col-md-3 text-right" for="splitEven">Split Even</label>
              <div class="col-md-6">
                <p-checkbox name="splitEven" formControlName='splitEven' binary="true"></p-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-6 text-right" for="individualOrder">Individual Order</label>
              <div class="col-md-6">
                <p-radioButton name="orderType" formControlName="orderType" [value]="0"></p-radioButton>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 text-right" for="catering">Catering</label>
              <div class="col-md-6">
                <p-radioButton name="orderType" formControlName="orderType" [value]="1"></p-radioButton>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group" [ngClass]="displayFieldCss('attendeesList')">
          <label class="col-md-3 control-label" for="attendees">Attendees</label>
          <div class="col-md-5">
            <textarea rows="5" class="form-control" formControlName='attendeesList'></textarea>
            <small>Ex: sample@company.com; sample1@company.com</small>
            <span *ngIf="formGroup.get('attendeesList').invalid && formGroup.get('attendeesList').touched" class="help-block">
              <div *ngIf="formGroup.get('attendeesList').hasError('required')">Attendees is required</div>
            </span>
            <button class="btn btn-default pull-right mt-15" type="button" (click)="addAttendee()">Add Attendees</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-middle table-bordered">
          <thead>
            <tr>
              <th>Status</th>
              <th>Email</th>
              <th>Name</th>
              <th>Food Preference</th>
              <th>Budget</th>
              <th>Remaind</th>
              <th>Order</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody formArrayName="attendees">
            <tr *ngFor="let attendee of formGroup.get('attendees')['controls']; let i = index;" [formGroupName]="i">
              <td>
                <i class="fa fa-2x fa-check-circle text-success" aria-hidden="true"></i>
              </td>
              <td>
                <div class="form-group mb-0" [ngClass]="displayDynamicFieldCss('email', i)">
                  <input type="email" class="form-control" placeholder="Email" formControlName='email'>
                  <span *ngIf="formGroup.get('attendees').get(i.toString()).get('email').invalid && formGroup.get('attendees').get(i.toString()).get('email').touched"
                    class="help-block">
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('email').hasError('required')">Email is required</div>
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('email').hasError('pattern')">Invalid Email</div>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group mb-0" [ngClass]="displayDynamicFieldCss('name', i)">
                  <input type="text" class="form-control" placeholder="Name" formControlName='name'>
                  <span *ngIf="formGroup.get('attendees').get(i.toString()).get('name').invalid && formGroup.get('attendees').get(i.toString()).get('name').touched"
                    class="help-block">
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('name').hasError('required')">Name is required</div>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group mb-0" [ngClass]="displayDynamicFieldCss('foodPreference', i)">
                  <input type="text" class="form-control" placeholder="Food Preference" formControlName='foodPreference'>
                  <span *ngIf="formGroup.get('attendees').get(i.toString()).get('foodPreference').invalid && formGroup.get('attendees').get(i.toString()).get('foodPreference').touched"
                    class="help-block">
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('foodPreference').hasError('required')">Food Preference is required</div>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group mb-0">
                  <input type="text" class="form-control" placeholder="Budget" formControlName='budget'>
                </div>
              </td>
              <td>
                <button class="btn btn-primary" type="button">Remind</button>
              </td>
              <td>
                <button class="btn btn-primary" type="button">Order</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="removeAttendee(index)">Delete</button>
              </td>
            </tr>
            <tr *ngIf="!formGroup.value.attendees.length">
              <td colspan="8">No attendees to show.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12 mb-20">
          <h4 class="mb0 mt0">Restaurants</h4>
          <hr>
          <p-selectButton [options]="restaurantsList" (onChange)="onSelectResturant($event)" formControlName="restaurants" multiple="multiple"></p-selectButton>
        </div>
      </div>
      <!-- Form actions -->
      <div class="form-group">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid" (click)="createEvent()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ngx-carousel
[inputs]="carouselTile">

      <ngx-tile NgxCarouselItem *ngFor="let restaurant of restaurants">
          <h1>{{restaurant.restaurant_name}}</h1>
      </ngx-tile>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>