<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h2 class="mt-0 mb-0">New Event</h2>
      </div>
      <div class="media-body media-middle">
        <div class="pull-right">
          <button class="btn btn-warning" type="button" (click)="goBack()">Cancel</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="formGroup">
      <div class="form-horizontal">

        <div class="form-group" [ngClass]="displayFieldCss('meetingTitle')">
          <label class="col-md-3 control-label" for="meetingTitle">Meeting Title*</label>
          <div class="col-md-5">
            <input id="meetingTitle" name="meetingTitle" type="text" placeholder="Meeting Title" class="form-control" formControlName='meetingTitle'
              maxlength="50">
            <span *ngIf="formGroup.get('meetingTitle').invalid && formGroup.get('meetingTitle').touched" class="help-block">
              <div *ngIf="formGroup.get('meetingTitle').hasError('required')">Meeting Title is required</div>
              <div *ngIf="formGroup.get('meetingTitle').hasError('minlength')">Meeting Title must be at least 3 characters</div>
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCss('date')">
          <label class="col-md-3 control-label" for="date">Date*</label>
          <div class="col-md-5">
            <p-calendar formControlName="date" placeholder="Date" [minDate]="minDateValue" styleClass="w-100-p" inputStyleClass="w-100-p"
              [readonlyInput]="true"></p-calendar>
            <span *ngIf="formGroup.get('date').invalid && formGroup.get('date').touched" class="help-block">
              <div *ngIf="formGroup.get('date').hasError('required')">Date is required</div>
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCss('time')">
          <label class="col-md-3 control-label" for="time">Time*</label>
          <div class="col-md-5">
            <p-calendar formControlName="time" placeholder="Time" [timeOnly]="true" hourFormat="12" styleClass="w-100-p" inputStyleClass="w-100-p"
              [readonlyInput]="true"></p-calendar>
            <span *ngIf="formGroup.get('time').invalid && formGroup.get('time').touched" class="help-block">
              <div *ngIf="formGroup.get('time').hasError('required')">Time is required</div>
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('venue')">
          <label class="col-md-3 control-label" for="venue">Venue*</label>
          <div class="col-md-5">
            <input id="venue" name="venue"  type="text" placeholder="Venue" class="form-control" formControlName='venue' maxlength="50">
            <span *ngIf="formGroup.get('venue').invalid && formGroup.get('venue').touched" class="help-block">
              <div *ngIf="formGroup.get('venue').hasError('required')">Venue is required</div>
              <div *ngIf="formGroup.get('venue').hasError('minlength')">Venue must be at least 3 characters</div>
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCss('budget')">
          <label class="col-md-3 control-label" for="budget">Budget*</label>
          <div class="col-md-5">
            <input id="budget" name="budget" currencyMask (blur)="onChangeBudget()" [options]="{align: 'left'}" type="text" placeholder="Budget" class="form-control" formControlName='budget'>
            <span *ngIf="formGroup.get('budget').invalid && formGroup.get('budget').touched" class="help-block">
              <div *ngIf="formGroup.get('budget').hasError('required')">Budget is required</div>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 text-right" for="splitEven">Split Even</label>
          <div class="col-md-5">
            <p-checkbox name="splitEven" (onChange)="onChangeBudget()" formControlName='splitEven' binary="true"></p-checkbox>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCss('orderType')">
          <label class="col-md-3 text-right" for="orderType">Order Type*</label>
          <div class="col-md-5">
            <select class="form-control" formControlName="orderType" name="orderType" id="orderType">
              <option value="">Select Order Type</option>
              <option value="0">Individual Order</option>
              <option value="1">Catering</option>
            </select>
            <span *ngIf="formGroup.get('orderType').invalid && formGroup.get('orderType').touched" class="help-block">
              <div *ngIf="formGroup.get('orderType').hasError('required')">Budget is required</div>
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCss('attendeesList')">
          <label class="col-md-3 control-label" for="attendees">Attendees</label>
          <div class="col-md-5">
            <textarea rows="5" class="form-control" formControlName='attendeesList'></textarea>
            <small>Ex: sample@company.com; sample1@company.com</small>
            <span *ngIf="formGroup.get('attendeesList').invalid && formGroup.get('attendeesList').touched" class="help-block">
              <div *ngIf="formGroup.get('attendeesList').hasError('required')">Attendees is required</div>
            </span>
            <button class="btn btn-default pull-right mt-15" type="button" (click)="addAttendee()">Add Attendees</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-middle table-bordered">
          <thead>
            <tr>
              <th>Status</th>
              <th>Email</th>
              <th>Name</th>
              <th>Food Preference</th>
              <th>Budget</th>
              <th>Remind</th>
              <th>Order</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody formArrayName="attendees">
            <tr *ngFor="let attendee of formGroup.get('attendees')['controls']; let i = index;" [formGroupName]="i">
              <td>
                <i class="fa fa-2x fa-check-circle text-success" aria-hidden="true"></i>
              </td>
              <td>
                <div class="form-group mb-0" [ngClass]="displayDynamicFieldCss('email', i)">
                  <input type="email" class="form-control" placeholder="Email" formControlName='email'>
                  <span *ngIf="formGroup.get('attendees').get(i.toString()).get('email').invalid && formGroup.get('attendees').get(i.toString()).get('email').touched"
                    class="help-block">
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('email').hasError('required')">Email is required</div>
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('email').hasError('pattern')">Invalid Email</div>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group mb-0" [ngClass]="displayDynamicFieldCss('name', i)">
                  <input type="text" class="form-control" placeholder="Name" formControlName='name'>
                  <span *ngIf="formGroup.get('attendees').get(i.toString()).get('name').invalid && formGroup.get('attendees').get(i.toString()).get('name').touched"
                    class="help-block">
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('name').hasError('required')">Name is required</div>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group mb-0" [ngClass]="displayDynamicFieldCss('foodPreference', i)">
                  <input type="text" class="form-control" placeholder="Food Preference" formControlName='foodPreference'>
                  <span *ngIf="formGroup.get('attendees').get(i.toString()).get('foodPreference').invalid && formGroup.get('attendees').get(i.toString()).get('foodPreference').touched"
                    class="help-block">
                    <div *ngIf="formGroup.get('attendees').get(i.toString()).get('foodPreference').hasError('required')">Food Preference is required</div>
                  </span>
                </div>
              </td>
              <td>
                <div class="form-group mb-0">
                  <input type="text" class="form-control" (blur)="onAttendeeBudgetChange()" currencyMask [attr.disabled]="formGroup.get('splitEven').value ? '' : null" [options]="{align: 'left'}" placeholder="Budget" formControlName='budget'>
                </div>
              </td>
              <td>
                <button class="btn btn-primary" type="button" disabled>Remind</button>
              </td>
              <td>
                <button class="btn btn-primary" type="button" disabled>Order</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="removeAttendee(i)">Delete</button>
              </td>
            </tr>
            <tr *ngIf="!formGroup.value.attendees.length">
              <td colspan="8">No attendees to show.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12 mb-20">
          <h4 class="mb0 mt0">Restaurants
            <small>(Select atleast 1 restaurant and maximum of 3 restaurants.)</small>
          </h4>
          <hr>
          <div class="row">
            <div class="col-md-12 mb-15">
              <div class="chip" *ngFor="let restaurant of selectedRestaurants;  let i = index;">
                <img src="https://res.cloudinary.com/grubhub/image/upload/w_264,h_178,f_auto,q_auto,dpr_auto,g_auto,c_fill,e_improve/jrustzqv7q05qkj9gdaa" alt="Person" width="96" height="96"> {{restaurant.restaurant_name}}
                <span class="closebtn" (click)="removeSelectedRestaurant(restaurant, i)">&times;</span>
              </div>
            </div>
          </div>
          <ngx-carousel [inputs]="carouselTile">
            <ngx-tile NgxCarouselItem *ngFor="let restaurant of restaurants; let i = index;">
              <div class="card">
                <div class="image">
                  <img src="https://res.cloudinary.com/grubhub/image/upload/w_264,h_178,f_auto,q_auto,dpr_auto,g_auto,c_fill,e_improve/jrustzqv7q05qkj9gdaa"
                    class="img-responsive w-100-p" alt="{{restaurant.restaurant_name}}">
                  <div class="checkbox-fixed">
                    <input type="checkbox" [checked]="restaurant.checked" (change)="onRestaurantSelect(restaurant)">
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="mt-0">{{restaurant.restaurant_name}}</h5>
                  <div class="rating">
                    <span class="fa fa-star text-orange"></span>
                    <span class="fa fa-star text-orange"></span>
                    <span class="fa fa-star text-orange"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <small class="text-muted">Asian</small>
                </div>
              </div>
            </ngx-tile>
            <button NgxCarouselPrev class='leftRs btn btn-primary'>
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button>
            <button NgxCarouselNext class='rightRs btn btn-primary'>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </ngx-carousel>
        </div>
      </div>
      <!-- Form actions restaurants -->
      <div class="form-group">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-brand" [disabled]="!formGroup.valid" (click)="createEvent()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
