<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h2 class="mt-0 mb-0">New Event</h2>
      </div>
      <div class="media-body media-middle">
        <div class="pull-right">
          <button class="btn btn-warning" type="button" (click)="goBack()">Cancel</button>
          <button class="btn btn-primary" type="button">Save</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" [formGroup]="formGroup">

      <div class="form-group">
        <label class="col-md-3 control-label" for="meetingTitle">Meeting Title</label>
        <div class="col-md-5">
          <input id="meetingTitle" name="meetingTitle" type="text" placeholder="Meeting Title" class="form-control" formControlName='meetingTitle'>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-6 control-label" for="date">Date</label>
            <div class="col-md-6">
              <input id="date" name="date" type="date" placeholder="Date" class="form-control" formControlName='date'>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label" for="time">Time</label>
            <div class="col-md-6">
              <input id="time" name="time" type="time" placeholder="time" class="form-control" formControlName='time'>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="venue">Venue</label>
        <div class="col-md-5">
          <input id="venue" name="venue" type="text" placeholder="Venue" class="form-control" formControlName='venue'>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-6 control-label" for="budget">Budget</label>
            <div class="col-md-6">
              <input id="budget" name="budget" type="text" placeholder="Budget" class="form-control" formControlName='budget'>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group pt-7">
            <label class="col-md-3 text-right" for="splitEven">Split Even</label>
            <div class="col-md-6">
              <p-checkbox name="splitEven" formControlName='splitEven' binary="true"></p-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-6 text-right" for="individualOrder">Individual Order</label>
            <div class="col-md-6">
              <p-radioButton name="orderType" formControlName="individualOrder" [value]="true" (click)="onOrderTypeChange('isIndividualOrder')"></p-radioButton>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 text-right" for="catering">Catering</label>
            <div class="col-md-6">
              <p-radioButton name="orderType" formControlName="catering" [value]="true" (click)="onOrderTypeChange('isCatering')"></p-radioButton>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label" for="attendees">Attendees</label>
        <div class="col-md-5">
          <textarea rows="5" class="form-control" formControlName='attendeesList'></textarea>
          <small>Ex: sample@company.com; sample1@company.com</small>
          <br/>
          <button class="btn btn-default pull-right" type="button" (click)="addAttendee()">Add Attendees</button>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table align-middle table-bordered">
          <thead>
            <tr>
              <th>Status</th>
              <th>Email</th>
              <th>Name</th>
              <th>Food Preference</th>
              <th>Budget</th>
              <th>Remaind</th>
              <th>Order</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody formArrayName="attendees">
            <tr *ngFor="let attendee of formGroup.get('attendees')['controls']; let i = index;" [formGroupName]="i">
              <td>
                <i class="fa fa-2x fa-check-circle text-success" aria-hidden="true"></i>
              </td>
              <td>
                <input type="email" class="form-control" placeholder="Email" formControlName='email'>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Name" formControlName='name'>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Food Preference" formControlName='foodPreference'>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Budget" formControlName='budget'>
              </td>
              <td>
                <button class="btn btn-primary" type="button">Remind</button>
              </td>
              <td>
                <button class="btn btn-primary" type="button">Order</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="removeAttendee(index)">Delete</button>
              </td>
            </tr>
            <tr *ngIf="!formGroup.value.attendees.length">
              <td colspan="8">No attendees to show.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12 mb-20">
          <p-carousel headerText="Restaurants" [value]="restaurants">
            <ng-template let-restaurant pTemplate="item">
                <img [src]="restaurant.thumbnail" width="60">
                {{restaurant.name}}
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <!-- Form actions -->
      <div class="form-group">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{formGroup.value | json}}