/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import '~sass/_variables.scss';

html, body {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/*-- Boostrap css overwirte--*/
a {
    color: $brand-color;
    &:hover, &:focus{
        color: $brand-color-light;
        text-decoration: none;
    }
}
hr {
    border-color: #ccc;
}

/*--Width--*/
.w-100-p {
  width: 100%;
}

/*-- margins --*/
.mt-0{
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}

/*--paddings--*/
.pt-7 {
    padding-top: 7px;
}

/*--text-colors--*/
.text-brand {
    color: $brand-color;
}

/*--Display--*/
.d-block {
    display: block;
}
