/* You can add global styles to this file, and also import other style files */
hr {
    border-color: #ccc;
}
.w-100-p {
  width: 100%;
}
.mt-0{
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-20 {
    margin-bottom: 20px;
}
.pt-7 {
  padding-top: 7px;
}
.auth-form {
    border: 1px solid #ccc;;
    border-radius: 5px;
    padding: 20px;
}
