/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import '~sass/_variables.scss';

html, body {
  height: 100%;
}
@font-face {
    font-family: 'icomoon';
    src: url("/assets/fonts/icomoon/icomoon.eot?srf3rx");
    src: url("/assets/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("/assets/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("/assets/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: #5e493a;
  }
  body.fh5co-overflow {
    overflow-x: auto;
  }
  
  a {
    color: #fb6e14;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:focus, a:active {
    color: #bf4c03;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: #000;
  }
  
  p {
    margin-bottom: 30px;
  }
  
  .btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .btn.btn-md {
    padding: 10px 20px !important;
  }
  .btn.btn-lg {
    padding: 18px 36px !important;
  }
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  .btn-primary {
    background: #fb6e14;
    color: #fff;
    border: 2px solid #fb6e14;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #f16104 !important;
    border-color: #f16104 !important;
  }
  .btn-primary.btn-outline {
    background: transparent;
    color: #fb6e14;
    border: 2px solid #fb6e14;
  }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #fb6e14;
    color: #fff;
  }
  
  .btn-success {
    background: #58ca7e;
    color: #fff;
    border: 2px solid #58ca7e;
  }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #45c46f !important;
    border-color: #45c46f !important;
  }
  .btn-success.btn-outline {
    background: transparent;
    color: #58ca7e;
    border: 2px solid #58ca7e;
  }
  .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #58ca7e;
    color: #fff;
  }
  
  .btn-info {
    background: #1784fb;
    color: #fff;
    border: 2px solid #1784fb;
  }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #0477f4 !important;
    border-color: #0477f4 !important;
  }
  .btn-info.btn-outline {
    background: transparent;
    color: #1784fb;
    border: 2px solid #1784fb;
  }
  .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #1784fb;
    color: #fff;
  }
  
  .btn-warning {
    background: #fed330;
    color: #fff;
    border: 2px solid #fed330;
  }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #fece17 !important;
    border-color: #fece17 !important;
  }
  .btn-warning.btn-outline {
    background: transparent;
    color: #fed330;
    border: 2px solid #fed330;
  }
  .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #fed330;
    color: #fff;
  }
  
  .btn-danger {
    background: #fb4f59;
    color: #fff;
    border: 2px solid #fb4f59;
  }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #fa3641 !important;
    border-color: #fa3641 !important;
  }
  .btn-danger.btn-outline {
    background: transparent;
    color: #fb4f59;
    border: 2px solid #fb4f59;
  }
  .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #fb4f59;
    color: #fff;
  }
  
  .btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    box-shadow: none;
  }
  
  .form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
  }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #fb6e14;
  }
  

/*-- Boostrap css overwirte--*/
a {
    color: $brand-color;
    &:hover, &:focus{
        color: $brand-color-light;
        text-decoration: none;
    }
}
hr {
    border-color: #ccc;
}

/*--Width--*/
.w-100-p {
  width: 100%;
}

/*-- margins --*/
.mt-0{
    margin-top: 0;
}
.mt-15 {
    margin-top: 15px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-5 {
    margin-right: 5px;
}

/*--paddings--*/
.pt-7 {
    padding-top: 7px;
}

/*--text-colors--*/
.text-brand {
    color: $brand-color;
}
.text-brand-light {
    color: $brand-color-light;
}
.text-orange {
    color: $color-orange;
}

/*--Display--*/
.d-block {
    display: block;
}
/*-- Table  --*/
.align-middle td, td.align-middle {
    vertical-align: middle!important;
}

/*--Chip--*/
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.closebtn:hover {
    color: #000;
}

/*--card--*/
.card {
    border-radius:3px;
    border: 1px solid rgba(0,0,0,.1);
    &:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.2);
    }
    .image {
        position: relative;
        img {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        .checkbox-fixed {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 24px;
            height: 24px;
            input[type=checkbox] {
                width: 24px;
                height: 24px;
            }
        }
    }
    .card-body {
        padding: 15px;
        h5 {
            font-weight: bold;
            color: #000;
        }
    } 
}
/*-- Owl carousel--*/
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}

/*--NG Prime--*/
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon{
  top: 0;
}
